* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 0.8rem;
  background-color: #ecf2f8;
}

main {
  display: grid;
  margin-left: 25px;
  margin-top: 20%;
  width: 89%;
  height: 77vh;
  background-color: #fff;
  border-radius: 20px;
}

.img-container img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.text-info-container {
  display: grid;
  place-content: center;
  margin-top: 10%;
}

.text-container p:nth-of-type(1) {
  color: #48556a;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
}
.text-container p:nth-of-type(2) {
  color: #9eafc2;
  font-weight: 500;
  line-height: 1.6;
}

.info-con-container {
  display: none;
  position: relative;
  bottom: 9%;
  border: 1px solid #000;
  height: 11vh;
  width: 100%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #48556a;
}
.info-con-container .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
.info-con-container .share-links span:nth-of-type(1) {
  font-size: 1rem;
  margin: 10px 10px 10px 10px;
  letter-spacing: 5px;
  position: relative;
  bottom: 8px;
  color: #9eafc2;
}
.info-con-container .share-links img {
  margin: 5px 5px 5px 5px;
}
.info-con-container .link-share-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 5px 5px 5px;
  border-radius: 50%;
  background-color: #9eafc2;
}
.info-con-container .link-share-container img {
  color: #ecf2f8;
}

.info-container {
  display: flex;
  justify-content: space-between;
  margin-top: 13%;
}
.info-container img:nth-of-type(1) {
  border-radius: 50%;
}
.info-container .name-date-con {
  line-height: 1.8;
  margin-right: 18%;
}
.info-container .name-date-con p:nth-of-type(1) {
  color: #48556a;
  font-weight: 700;
}
.info-container .name-date-con p:nth-of-type(2) {
  color: #9eafc2;
}
.info-container .share-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 5px 5px 5px;
  border-radius: 50%;
  background-color: #ecf2f8;
}
@media (min-width: 1440px) {
  body {
    display: flex;
    justify-content: center;
    align-self: center;
  }

  main {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 50%;
  }

  section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .img-container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .img-container img {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
  }

  .text-info-container {
    margin-right: 90px;
    margin-top: 2px;
  }

  .text-container p:nth-of-type(1) {
    line-height: 1.2;
  }
  .text-container p:nth-of-type(2) {
    line-height: 1.2;
  }

  .info-container {
    margin-top: 10px;
  }

  .info-con-container {
    left: 133%;
    bottom: 220%;
    height: 5vh;
    width: 80%;
  }
  .info-con-container .link-share-container {
    position: absolute;
    top: 90px;
    left: 120px;
  }
}/*# sourceMappingURL=styles.css.map */